<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>朋友圈</key>
	<array>
		<dict>
			<key>datatype</key>
			<string>pic</string>
			<key>videotime</key>
			<string></string>
			<key>clicknum</key>
			<string>0</string>
			<key>desc</key>
			<string>该爱一个什么样的人，每次别人问起这个问题，我都会很骄傲的告诉他</string>
			<key>title</key>
			<string>爱一个能够给你正能量的人</string>
			<key>pic</key>
			<string>activity01_orderlist.png</string>
		</dict>
		<dict>
			<key>datatype</key>
			<string>pic</string>
			<key>videotime</key>
			<string></string>
			<key>clicknum</key>
			<string>0</string>
			<key>desc</key>
			<string>该爱一个什么样的人，每次别人问起这个问题，我都会很骄傲的告诉他</string>
			<key>title</key>
			<string>爱一个能够给你正能量的人</string>
			<key>pic</key>
			<string>activity01_orderlist.png</string>
		</dict>
		<dict>
			<key>datatype</key>
			<string>pic</string>
			<key>videotime</key>
			<string></string>
			<key>clicknum</key>
			<string>0</string>
			<key>desc</key>
			<string>该爱一个什么样的人，每次别人问起这个问题，我都会很骄傲的告诉他</string>
			<key>title</key>
			<string>爱一个能够给你正能量的人</string>
			<key>pic</key>
			<string>activity01_orderlist.png</string>
		</dict>
	</array>
	<key>活动众筹</key>
	<array>
		<dict>
			<key>datatype</key>
			<string>pic</string>
			<key>videotime</key>
			<string></string>
			<key>clicknum</key>
			<string>0</string>
			<key>desc</key>
			<string>该爱一个什么样的人，每次别人问起这个问题，我都会很骄傲的告诉他</string>
			<key>title</key>
			<string>爱一个能够给你正能量的人</string>
			<key>pic</key>
			<string>activity01_orderlist.png</string>
		</dict>
		<dict>
			<key>datatype</key>
			<string>pic</string>
			<key>videotime</key>
			<string></string>
			<key>clicknum</key>
			<string>0</string>
			<key>desc</key>
			<string>该爱一个什么样的人，每次别人问起这个问题，我都会很骄傲的告诉他</string>
			<key>title</key>
			<string>爱一个能够给你正能量的人</string>
			<key>pic</key>
			<string>activity01_orderlist.png</string>
		</dict>
		<dict>
			<key>datatype</key>
			<string>video</string>
			<key>videotime</key>
			<string>01:45</string>
			<key>title</key>
			<string>董小姐的玫瑰浴</string>
			<key>desc</key>
			<string>不知道董小姐是个什么样的女孩，不过每个男人都会遇见专属自己的的“董小姐” 呵呵</string>
			<key>clicknum</key>
			<string>5546</string>
			<key>pic</key>
			<string>activity01_orderlist.png</string>
		</dict>
	</array>
	<key>美女私房</key>
	<array>
		<dict>
			<key>desc</key>
			<string></string>
			<key>clicknum</key>
			<string>0</string>
			<key>videotime</key>
			<string></string>
			<key>datatype</key>
			<string>photo</string>
			<key>pics</key>
			<array>
				<string>5.png</string>
				<string>4.png</string>
				<string>3.png</string>
				<string>2.png</string>
				<string>1.png</string>
			</array>
			<key>title</key>
			<string>这是一场说走就走的旅行！</string>
		</dict>
		<dict>
			<key>pics</key>
			<array/>
			<key>datatype</key>
			<string>video</string>
			<key>videotime</key>
			<string>01:45</string>
			<key>title</key>
			<string>董小姐的玫瑰浴</string>
			<key>desc</key>
			<string>不知道董小姐是个什么样的女孩，不过每个男人都会遇见专属自己的的“董小姐” 呵呵</string>
			<key>clicknum</key>
			<string>5546</string>
			<key>pic</key>
			<string>activity01_orderlist.png</string>
		</dict>
		<dict>
			<key>pics</key>
			<array/>
			<key>datatype</key>
			<string>pic</string>
			<key>videotime</key>
			<string></string>
			<key>clicknum</key>
			<string>0</string>
			<key>desc</key>
			<string>该爱一个什么样的人，每次别人问起这个问题，我都会很骄傲的告诉他</string>
			<key>title</key>
			<string>爱一个能够给你正能量的人</string>
			<key>pic</key>
			<string>activity01_orderlist.png</string>
		</dict>
	</array>
	<key>星城故事</key>
	<array>
		<dict>
			<key>datatype</key>
			<string>pic</string>
			<key>videotime</key>
			<string></string>
			<key>clicknum</key>
			<string>0</string>
			<key>desc</key>
			<string>该爱一个什么样的人，每次别人问起这个问题，我都会很骄傲的告诉他</string>
			<key>title</key>
			<string>爱一个能够给你正能量的人</string>
			<key>pic</key>
			<string>activity01_orderlist.png</string>
		</dict>
		<dict>
			<key>datatype</key>
			<string>video</string>
			<key>videotime</key>
			<string>01:45</string>
			<key>title</key>
			<string>董小姐的玫瑰浴</string>
			<key>desc</key>
			<string>不知道董小姐是个什么样的女孩，不过每个男人都会遇见专属自己的的“董小姐” 呵呵</string>
			<key>clicknum</key>
			<string>5546</string>
			<key>pic</key>
			<string>activity01_orderlist.png</string>
		</dict>
	</array>
</dict>
</plist>
